.newsCard {
    width: 360px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

.newsCard :hover {
    cursor: pointer;
}

a:hover, a:visited, a:link, a:active {
    color: black !important;
    text-decoration: none !important;
}